<h2>New Meal using "form_for" tag from Rails</h2>
<%= form_for(@meal) do |f| %>
	<%= f.label :title %>
	<%= f.text_field :title %><br />
	<%= f.label :date %>
	<%= f.date_select(:date, :order => [:month, :day, :year]) %>
	<%#= f.text_field :date, :placeholder => 'dd/mm/yyyy' %><br />
	<%= f.label :description %><br />
	<%= f.text_area :description %><br />

	<%= f.submit "Submit" %>
<% end %>

<h1>Record new Meal</h1>
<form action="<%= meals_url %>" method="post" accept-charset="utf-8">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
	<label for="meal-title">Meal type:</label>
	<input type="text" name="meal[title]" value="<%= @meal.title %>" id="meal-title"></input>
	<br>
	<label for="meal-date">Date:</label>
	<input type="date" name="meal[date]" value="<%= @meal.date %>" id="meal-date">
	<br>
	<label for="meal-description">Description:</label><br>
	<textarea id="meal-description" name="meal[description]" value="<%= @meal.description %>"></textarea>
	<br>
	<label for "feeling-description">Your Feelings:</label>
	<textarea id="feeling-description" name="feeling[description]" value="<%= @feeling.description %>"></textarea>
	
	<p><input type="submit" value="Submit" class="btn-large"></p>
</form>
